<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell (click)="viewBug(bug)" *matCellDef="let bug"> {{bug.id}} </mat-cell>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell (click)="viewBug(bug)" *matCellDef="let bug"> {{bug.title}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>